## Convert CSV to mseed

In [79]:
import os
import pandas as pd
import obspy as obs
import numpy as np

import matplotlib.pyplot as plt

from andbro__write_stream_to_sds import __write_stream_to_sds

In [4]:
if os.uname().nodename == 'lighthouse':
    root_path = '/home/andbro/'
    data_path = '/home/andbro/kilauea-data/'
    archive_path = '/home/andbro/freenas/'
    bay_path = '/home/andbro/bay200/'
elif os.uname().nodename == 'kilauea':
    root_path = '/home/brotzer/'
    data_path = '/import/kilauea-data/'
    archive_path = '/import/freenas-ffb-01-data/'
    bay_path = '/bay200/'
elif os.uname().nodename == 'lin-ffb-01':
    root_path = '/home/brotzer/'
    data_path = '/import/kilauea-data/'
    archive_path = '/import/freenas-ffb-01-data/'
    bay_path = '/bay200/'

In [68]:
path_to_data = data_path+"LNM2/data/wettzell/"

### Load Data

In [11]:
df = pd.read_csv(path_to_data+"luftdruck_wettzell.csv")

In [12]:
df

                         epoch        p
0       2023-09-01 00:00:00+00  946.154
1       2023-09-01 00:01:00+00  946.165
2       2023-09-01 00:02:00+00  946.168
3       2023-09-01 00:03:00+00  946.168
4       2023-09-01 00:04:00+00  946.166
...                        ...      ...
175390  2023-12-31 23:55:00+00  938.512
175391  2023-12-31 23:56:00+00  938.534
175392  2023-12-31 23:57:00+00  938.566
175393  2023-12-31 23:58:00+00  938.563
175394  2023-12-31 23:59:00+00  938.586

[175395 rows x 2 columns]

### Merge with Dummy Frame (to ensure constant sampling)

In [49]:
df_dummy = pd.DataFrame()

seconds = int(abs(obs.UTCDateTime(df.epoch.iloc[0][:-3]) - obs.UTCDateTime(df.epoch.iloc[-1][:-3])))

tt = []
for _n, _t in enumerate(np.arange(0, seconds+60, 60)):
    obst = obs.UTCDateTime(df.epoch.iloc[0][:-3]) + _t
    tt.append(f"{obst.date} {str(obst.time).split('.')[0]}+00")

df_dummy['epoch'] = tt

df_new = df_dummy.merge(df, how="outer", on="epoch")

In [61]:
# df_new[df_new.p.isna()]

                         epoch   p time
18105   2023-09-13 13:45:00+00 NaN  NaN
36536   2023-09-26 08:56:00+00 NaN  NaN
36549   2023-09-26 09:09:00+00 NaN  NaN
36550   2023-09-26 09:10:00+00 NaN  NaN
36551   2023-09-26 09:11:00+00 NaN  NaN
...                        ...  ..  ...
110235  2023-11-16 13:15:00+00 NaN  NaN
110236  2023-11-16 13:16:00+00 NaN  NaN
110237  2023-11-16 13:17:00+00 NaN  NaN
110238  2023-11-16 13:18:00+00 NaN  NaN
110239  2023-11-16 13:19:00+00 NaN  NaN

[285 rows x 3 columns]

### Create Stream and write to SDS

In [81]:
tr = obs.Trace()

tr.data = df_new.p.to_numpy()
tr.stats.delta = 60
tr.stats.starttime = obs.UTCDateTime(df.epoch.iloc[0][:-3])
tr.stats.network = "BW"
tr.stats.station = "WETR"
tr.stats.location = ""
tr.stats.channel = "BDO"

st = obs.Stream(traces=tr)

In [ ]:
for datetime in pd.date_range(str(st[0].stats.starttime.date), str(st[0].stats.endtime.date)):
    st_out = st.copy()
    st_out.trim(obs.UTCDateTime(datetime), obs.UTCDateTime(datetime)+86399)
    print(st_out)
    __write_stream_to_sds(st_out, path_to_data)