In [1]:
# Auswertung der Übungsblätter

In [12]:
import pandas as pd
import numpy as np

In [13]:
path = "/home/andbro/Documents/LMU_Lehre/Einführung_in_die_Geophysik_2021/modify/"

basename = input("Enter basename of file: ")

# data = pd.read_csv(path+basename+".csv", delimiter=",", names=['nachname','vorname','mail','kurs','aufgabe'])

data1 = pd.read_csv(path+f"{basename}A.csv", delimiter=",", names=['nachname','vorname','mail','kurs','aufgabe'])
data2 = pd.read_csv(path+f"{basename}B.csv", delimiter=",", names=['nachname','vorname','mail','kurs','aufgabe'])

data = pd.concat([data1, data2])

del data['mail'] 
data.drop(0, inplace=True)

# if {basename[-1]} == 'B':
#     data = data[data.kurs == f'Kurs B (Donnerstag)']
# elif {basename[-1]} == 'A':
#     data = data[data.kurs == f'Kurs A (Dienstag)']

del data['kurs']

data = data[data.aufgabe != "Nicht abgestimmt"].reset_index()

data

Enter basename of file: B5

     index     nachname    vorname                 aufgabe
0       42        Huber   Veronika  I Elastische Parameter
1       43        Bauer      Elina  I Elastische Parameter
2       44      Herwegh       Paul  I Elastische Parameter
3       45     Schlegel     Dennis  I Elastische Parameter
4       46  Oberschätzl    Joachim  I Elastische Parameter
..     ...          ...        ...                     ...
246    178        Hönig    Emanuel          VI Wellenlänge
247    179     Abdullah       Adam          VI Wellenlänge
248    180        Darms  Christian          VI Wellenlänge
249    181        Huber   Veronika          VI Wellenlänge
250    182     Ottinger     Tobias          VI Wellenlänge

[251 rows x 4 columns]

In [14]:
aufgaben = list(data.aufgabe.unique())

# names = pd.read_csv(path+f"names{basename[-1].lower()}.csv", names=["nachname", "vorname"])

names = pd.read_csv(path+f"names.csv", names=["nachname", "vorname"])

In [15]:
done = np.zeros(len(names))

for aufgabe in aufgaben:
    for i in range(len(names)):
        sub = data.loc[(data['vorname'] == names.vorname[i]) & (data['nachname'] == names.nachname[i])]
        if sub.aufgabe.str.match(str(aufgabe)).any():
            done[i] = 1
    names[aufgabe] = done
    names[aufgabe].apply(int)
    done = np.zeros(len(names))
names

,nachname,vorname,I Elastische Parameter,II Spannung,III Reflektionen,IV Seismische Wellen ab,IV Seismische Wellen cd,V Deformation,VI Wellenlänge
0,Waas,Margaretha,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Mattusch,Manuel,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Hager,Dennis,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Hoemann,Hagen,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,Morbio,Alessandro,1.0,1.0,0.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
56,Winkler,Sebastian,1.0,1.0,1.0,1.0,1.0,1.0,1.0
57,Riederer,Sophie,1.0,0.0,0.0,1.0,1.0,0.0,0.0
58,Pfaff,Timon,1.0,1.0,1.0,1.0,1.0,0.0,1.0
59,Ottinger,Tobias,1.0,1.0,0.0,1.0,1.0,1.0,1.0
60,Huber,Veronika,1.0,1.0,1.0,1.0,1.0,0.0,1.0

In [16]:
# names.to_excel(path+f"{basename}_done.xlsx", index=False)
names.to_csv(path+f"{basename}_done.csv", index=False)